################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tetris/obj
/tetris/bin/Debug/netcoreapp3.1
/Collections/bin/Debug/netcoreapp3.1
/Collections/obj
